.puzzleCAPTCHA{display:table;}
	.puzzleCAPTCHA .pcBox{overflow:hidden;position:relative;border-radius:4px;border:1px solid #ccc;float:left;margin-right:50px;}
		.puzzleCAPTCHA .pcBoxBG{display:block;margin:0;padding:0;}
		.puzzleCAPTCHA .pcBoxItem{display:block;position:absolute;border-right:1px solid rgba(255,255,255,0.6);border-bottom:1px solid rgba(255,255,255,0.6);overflow:hidden;}
				.puzzleCAPTCHA .pcBox:hover .pcBoxItem{background-color:rgba(0,0,0,0.4);}
			.puzzleCAPTCHA .pcBoxItem img{position:absolute;display:none;opacity:0.7;}
				.puzzleCAPTCHA .pcBoxItem:hover img{display:block;}
	.puzzleCAPTCHA .pcAnswer{overflow:hidden;position:relative;border-radius:3px;}